<h1>NPHI Blog:</h1>

    <% @blogs.each do |blog| %>
      <div class="blog-title">
        <h3><%= link_to blog.title, blog_path(blog) %></h3>
      </div>

      <div class="blog-author">
        <em>Posted by: <%= blog.author + " - " + blog.created_at.strftime("%b #{blog.created_at.day.ordinalize}, %Y") %></em>
      </div>

      <hr class="blog-hr" />

      <div class="blog-content">
        <%= sanitize(blog.content) %>
      </div>

      <td><%= link_to 'Show', blog %></td>
      <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
      <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>

    <% end %>

<br />
