<% content_for :title, "NWInspect - Blog" %>
<h1>NPHI Blog:</h1>

    <% @blogs.each do |blog| %>
      <div class="blog-title">
        <h3><%= link_to blog.title, blog_path(blog) %></h3>
      </div>

      <div class="blog-author">
        <em>Posted by: <%= blog.author + " - " + blog.created_at.strftime("%b #{blog.created_at.day.ordinalize}, %Y") %></em>
      </div>



      <div class="blog-content">
        <%= sanitize(blog.content) %>
      </div>

      <% if current_user.try(:admin?) %>
      <td><%= link_to 'Edit', edit_blog_path(blog) %></td> | 
      <td><%= link_to 'Delete', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td> | 
      <td><%= link_to 'New', new_blog_path %></td>
      <% end %>

      <hr class="blog-hr" />
      


    <% end %>

    <%= will_paginate @blogs, :previous_label => 'Newer', :next_label => 'Older' %>

<br />
