<p id="notice"><%= notice %></p>

<div class="blog-title">
  <h3><%= @blog.title %></h3>
</div>

<div class="blog-author">
  <em>Posted by: <%= @blog.author + " - " + @blog.created_at.strftime("%b #{@blog.created_at.day.ordinalize}, %Y") %></em>
</div>

<hr class="blog-hr" />

<div class="blog-content">
  <%= sanitize(@blog.content) %>
</div>

<%= link_to 'Edit', edit_blog_path(@blog) %> |
<%= link_to 'Back', blogs_path %>