<%= button_to "<< Back", pages_services_path, method: :get, :class => 'btn btn-default btn-pad-top' %>
<h1>Services for Homesellers: Pre-listing Inspection</h1>

<p>“The buyer has the upper hand when they have an inspection,” <%= link_to "says Coldwell Banker consumer specialist and agent Jessica Edwards.", "http://www.foxbusiness.com/personal-finance/2013/09/18/should-sellers-pay-for-home-inspection/" %> “If you are willing to do it ahead of time, you give the control back to the seller.”</p>


<h3>Realtor.com tip for home sellers– <%= link_to "get a pre-listing inspection", "http://realtormag.realtor.org/daily-news/2013/09/23/how-sellers-can-save-prelisting-inspections", :target => '_blank' %></h3>
<p>Many sales go south when a buyer discovers the functional condition of a home through an inspection. If you’ve been in your home for many years, you might even be a little shocked at the real condition (and value) of your home. Wouldn’t you rather know this information before a potential buyer does?</p>

<p>Save yourself the frustration of a long, drawn out selling process by getting a pre-listing inspection.</p>

<p>A pre-listing inspection covers the same things as our <%= link_to "complete home inspection", pages_complete_inspection_path %> for buyers, but it’s designed to help you as a seller address any problems that might delay the sale of your home. Armed with the knowledge of a thorough inspection, you can fix what needs fixing before it blocks the sale of your home.</p>

<p><%= link_to "Contact", new_contact_path %> Northwest Premier Home Inspections to set up your pre-listing inspection if you live in one of our many Western Washington service areas: Seattle, Bellevue, Everett, Bothell, Renton, Kirkland, Redmond, Woodinville, Kent, Federal Way, Puyallup and greater Olympia areas. Counties served include King, Snohomish, Pierce and Thurston County.</p>