<h1>Home Inspection Options for Buyers in Western Washington</h1>
<h2>Performing expert home inspections in King, Pierce, Thurston and Snohomish Counties</h2>

<h3>Services List:</h3>
<ul>
	<li><%= link_to "Complete Home Inspections", pages_complete_inspection_path %></li>
	<li><%= link_to "New Construction Home Inspections", pages_new_construction_path %></li>
	<li><%= link_to "Seller Pre-Listing Inspections", pages_sellers_path %></li>
	<li><%= link_to "Pre-offer Home Inspections", pages_pre_offer_inspection_path %></li>
	<li><%= link_to "Consultations", pages_home_consultation_path %></li>
	<li><%= link_to "Air Quality, Mold, Lead Paint?", pages_services_path %></li>
	<li><%= link_to "Homeowner Maintenance Inspections?", pages_services_path %></li>
	<li><%= link_to "Realtor Information", pages_realtors_path %></li>
</ul>

<h3>Home Buyers:</h3>
<p>You think you’ve found the right home. It spoke to you from the curb, sang to you when you opened the front door. Let’s make sure your purchase is a dream come true, not a nightmare waiting to happen.</p>

<p>Our <%= link_to "complete home inspection", pages_complete_inspection_path %> includes:</p>
<ul>
<li>A detailed, 400+ item report on the home’s structure and systems.</li>
<li>Information on the safety of the home.</li>
<li>Ballpark costs of expenditures for improving the home.</li>
<li>A home buyer's maintenance DVD that will give you the knowledge you need to protect your investment.</li>
<li>A variety of other services based on your needs.</li>
</ul>

<p>We offer <%= link_to "complete home inspections", pages_complete_inspection_path %>, <%= link_to "pre-offer home inspections", pages_pre_offer_inspection_path %>, as well as <%= link_to "consultation", pages_home_consultation_path %> on properties that we’ve recently inspected in much of Western Washington. Our service areas include: the greater Seattle, Bellevue, Everett, Bothell, Renton, Kirkland, Redmond, Woodinville, Kent, Federal Way, Tacoma, Puyallup and Olympia areas</p>