<% content_for :title, "NWInspect - Contact Details" %>
<h1>
	Contact Details
</h1>


<p>
Name: <%= @contact.name %>
</p>

<p>
Email: <%= @contact.email %>
</p>

<p>
Phone: <%= @contact.phone %>
</p>

<p>
Details: <%= @contact.additional_information %>
</p>

<p>
Date: <%= @contact.created_at.strftime("%b-%d-%Y %I:%M %p") %>
</p>

<!-- %z{+0900} -->