<!DOCTYPE html>
<html>
<head>
  <title>HomeInspect</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-static-top bs-docs-nav" id="top" role="banner">
<div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target=".bs-navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      
    </div>
    <nav class="collapse navbar-collapse bs-navbar-collapse" role="navigation">
      <ul class="nav navbar-nav">
      	<li class="nav-link">
			<a href="../" class="navbar-brand">NWInspect</a>
		</li>
        <li class="nav-link">
          <%= link_to "Contact", new_contact_path %>          
        </li>
        <li class="nav-link">
          <%= link_to "Services", pages_services_path %>
        </li>
        <li class="nav-link">
          <%= link_to "About", pages_about_path %>
        </li>
        <li class="nav-link">
          <%= link_to "FAQ", pages_faq_path %>
        </li>
        <li class="nav-link">
          <%= link_to "Blog", blogs_path %>
        </li>
      </ul>
    </nav>
  </div>
</header>

<div class="bs-docs-header" id="content">
    <div class="container">
        <div class="pull-right logo-pic"><%= image_tag("northwest-home-inspection-logo.jpg", :alt => "northwest home inspection logo") %></div>
        <h1>Northwest Premier Home Inspections, LLC</h1>
       <p>Trust your home inspection to a team which averages 15 years of residential construction experience.  Our licensed home inspectors provide inspections throughout the Puget Sound, serving King, Pierce, and Snohomish Counties. Let our experience provide peace of mind for your most important purchase.</p>
    </div>
</div>

<div class="container bs-docs-container">
    <div class="row">
        <div class="col-md-1">
        	
		</div>
        <div class="col-md-9" role="main">
        	<%= yield %>
		</div>
    	<div class="col-md-2 phone-number">
    		<h3>To schedule an inspection or simply ask a question, please call 206-462-8483</h3>
    	</div>
	</div>
</div>

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<div class="footer">
				<em>Copywrite <%= Time.now.year %></em>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	$(document).ready(function() {
	    $.backstretch(["<%= asset_path 'Summit-House-Canada.jpg' %>"]);
	});
</script>


</body>
</html>